asgiref==3.11.1
bandit==1.9.4
Django==6.0.6
django-bootstrap5==26.2
django-countries==9.0.0
gunicorn==23.0.0
packaging==26.2
markdown-it-py==4.2.0
mdurl==0.1.2
psycopg==3.2.9
Pygments==2.20.0
python-dotenv==1.2.2
PyYAML==6.0.3
rich==15.0.0
sqlparse==0.5.5
stevedore==5.9.0
typing_extensions==4.16.0
